body{
    font-size: 14px;
    color: #333;
    background-color: #f5f6fa;
    letter-spacing: 1px;
}



.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0,0, 0, 0.45);
}

.slides-navigation{
    z-index: 6;
}

.slides-navigation a.prev,
.slides-navigation a.next{
    width: 48px;
    height: 48px;
    backgorund-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev{
    left: 30px;
    background-image: url(../img/icons/backarrow.png);
}
.slides-navigation a.next{
    right: 30px;
    background-image: url(../img/icons/nextarrow.png);
}

.titleMessage{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -100px;
}

.titleMessage .heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 8px;
}

.titleMessage .heading .main{
    font-size: 50px;
}

.titleMessage .heading .sub{
    font-size: 25px;
}

.section{
    padding: 100px 0;
}

.row{
    margin: 0 100px;
}

.skillsDescHeading{
    padding: 0 0 5% 0;
}

.profilepic{
    width: 100%;
    padding: 0 10%;
}

.skillsSection{
    background-color: #273c75;
    color: #f5f6fa;
}

.skill {
    text-align: center;
    margin-left: 25px;
}

.chart{
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas{
    position: absolute;
    left: 0;
    right: 0;
}

.chart .percent{
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after{
    content: '%';
}

.contactSection{
    background-color: #fbc531;
}

.contactButton{
    color: #000000;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border : 2px solid #2c5ce1;
    border-radius: 3px;
}

.contactButton:hover{
    text-decoration: none;
    color: #f5f6fa;
    background-color: #2c5ce1;
}

.filter a{
    color: #718093;
    border: 1px solid #718093;
    padding: 10px 18px;
    display: block;
}

.filter li{
    display: inline-block;
    padding: 5px;
}

.filter .current{
    background-color: #273c75;
    border-color: #273c75;
    color: #dcdde1;
}

.filter{
    text-align: center;
    width: 100%;
}

.section .heading{
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.itemsContainer{
    width: 100%;
}

.items li img{
    width: 100%;
    -webkit-transition: all 0.2s linear, 0.8s;
    -moz-transition: all 0.2s linear, 0.8s;
    -o-transition: all 0.2s linear, 0.8s;
    -ms-transition: all 0.2s linear, 0.8s;
    -transition: all 0.2s linear, 0.8s;
}

.items .item{
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -5px auto 0 -60px;
    text-align: center;
    z-index: 3;
}

.items .icons i{
    color: #f5f6fa;
    font-size: 20px;
    margin-top: 9px;
}

.items a{
    width: 40px;
    height: 40px;
    background-color: #e1b12c;
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s linear, 0.8s;
    -moz-transition: all 0.2s linear, 0.8s;
    -o-transition: all 0.2s linear, 0.8s;
    -ms-transition: all 0.2s linear, 0.8s;
    -transition: all 0.2s linear, 0.8s;
}

.items .item:hover .imageOverlay{
    opacity: 1;
}

.items .openButton {
    float: left;
    left: -200px;
}
.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton{
    left: 0px;
}

.items .item:hover .projectLink{
    right: 0px;
}

.items .item:hover img{
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);

}

.items{
    padding: 0;
}

.copyrightSection{
    background-color: #000000;
    color: #dcdde1;
    padding: 30px 5px;
}

.copyrightSection p{
    margin: 0;
}